{% extends "base.html" %}


{% block main_content %}


{{album_list}}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Musician Name</th>
        <th scope="col">Email</th>
        <th scope="col">Album Rating</th>
        <th scope="col">Instrument Type</th>
        <th scope="col">Album name</th>
        <th scope="col">Release Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for x in  album_list %}

      <tr>
        <th scope="row">{{x.muscian.first_name}} {{x.muscian.last_name}}</th>
        <td>{{x.muscian.email}}</td>
        <td>{{x.rating}}</td>
        <td>{{x.muscian.instrument_Type}}</td>
        <td>{{x.album_name}}</td>
        <td>{{x.release_date}}</td>
        <td class="d-flex gap-2"> 
           <a href="{% url "edit_album" x.id %}"><button>Edit</button></a>
           {% comment %} <a href="{% url "edit_album" x.id %}"><button>Edit</button></a> {% endcomment %}
           {% comment %} <a href=""><button>{{x.id}}</button></a> {% endcomment %}
           <a href="{% url "delete_album" x.id %}"><button>Delete</button></a>
         
        </td>
      </tr>

      {% endfor %}
 
    </tbody>
  </table>

{% endblock  %}